#search {
    font-size: 15px;
    color: rgb(164, 164, 173);
    display: flex;
    align-items: center;
    margin: 10px;
}

input {
    border-radius: 15px 15px 15px 15px;
}

body {
    background: rgb(255, 255, 255);
    background: linear-gradient(20deg, rgba(255, 255, 255, 1)50%, rgba(188, 188, 252, 1) 60%);
    background-repeat: repeat-x;
    background-size: cover;
}

header {
    width: 100%;
    overflow: hidden;
    margin-top: 0%;
}

.head1 {
    position: sticky;
    display: flex;
    align-items: center;
    margin-left: 2%;
    margin-top: 2%;
}

article {
    position: sticky;
    display: flex;
    align-items: center;
    margin-left: 2%;
}

#ribbon {
    background-color: rgb(33, 0, 141);
    background-image: repeating-linear-gradient(45deg, transparent, transparent 25px, rgba(8, 0, 37, 0.5) 25px, rgba(8, 0, 37, 0.5) 40px);
}

.card-border {
    border: solid 10px white;
    border-radius: 20px;
    overflow: hidden;
    transition: all ease-out .02s;
}

.card-border:hover {
    transform: scale (1.05)
}